*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body{
    background-color: #EDECEA;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: #585555;
    width:100%;
    min-height:100vh;
    max-width: 890px;
    padding:5px;
    margin:20px 25px;
    border-radius: 35px;
    box-shadow: 2px 0px 16px rgba(0, 0, 0, 0.075);
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */  
}

#input-box{
    padding:15px;
    background-color: white;
    color: white;
    border-radius: 25px;
    margin:20px 20px;
    
}

#addNote{
  color:white;
  background-color: #d6612e;
}
input, textarea{
    padding:8px;
    width:100%;
    background-color: transparent;
    border:none;
    outline:none;
    color:black;
    margin-top:6px;
}

::placeholder {
    font-size: 16px;
    color: rgb(97, 97, 97);
    opacity: 1; /* Firefox */
}

.navbar ::placeholder {
    color: #6f6d6d;
}

button{
    background:transparent;
    color:white;
    padding: 8px 12px;
    border: 1px solid white;
    border-radius: 25px;

}

#searchbutton{
    background:#d6612e;
    color:white;
    padding: 8px 12px;
    /* border: 1px solid black; */
  border:none;
    border-radius: 25px;

}
/* #notes{
    padding:23px;
    margin:5px;
    border:1px solid black;
    background-color: red;
} */


#notes{
    padding: 23px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.note{
    width: 360px;
    color: wheat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px;
    padding: 12px;
    border: 1px solid wheat;
    background: transparent;
    border-radius: 25px;
}

#access{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#access button{
    margin:10px;

}

#items{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin:10px 0px;
}

.deletebutton{
    float: right;
    color: rgb(216, 98, 56);
    border: 1px solid wheat;
    border-radius: 25px;
}
.nav{
    background-color: #EDECEA;
    width:100%;
    padding:0px 25px;
}

.navbar{
    margin:10px 15px;
    background-color: #F7CC21;
    border-radius: 25px;
    min-height:65px;
    max-width: 890px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
     box-shadow: 2px 0px 16px rgba(0, 0, 0, 0.075);
     margin:15px auto;
}

.navbar ul{
    list-style: none;
    display: flex;
    max-width:350px;
    padding:15px ;
    margin:0px 10px;
    justify-content: space-around;
    align-items: center;
}

.navbar ul li a{
    text-decoration: none;
    color:rgb(216, 98, 56);
    padding:0px 10px;
  font-size: 20px;
  font-weight: 600;
}

#searchbar{
    color:white;
    border-radius: 7px;
    border:1px solid black;
    width:120px;
}

form{
    margin:0px 25px;
    margin-bottom: 10px;
}

form button{
    color:white;
    background-color: rgb(216, 98, 56);
    border-radius: 25px;
}

footer{
    height: 150px;
}

@media only screen and (min-width:526px) and (max-width:600px){
    .nav{
    padding:0px 10px;
    }
  
    .navbar{
        justify-content: center;
        padding:5px 0px;
      
    }
    .container{
      margin-left: 10px;
      margin-right: 10px;
    }

}


@media only screen and (max-width:525px){
    .container{
      margin-left: 10px;
      margin-right: 10px;
    }

    .nav{
    padding:0px 10px;
    }
  
    .navbar{
        justify-content: center;
        padding:5px 0px;
    }

    #notes{
        padding: 0px;        
    }

    .note{
        width: 100%;
    }
  

}